*{
  margin: 0;
  padding: 0;
  font-family: Figtree, Arial;
}

p{
  font-size: 1rem;
}

body{
  height: 100vh;
  width: 100vw;

  display: grid;
  place-items: center;
}

.mainBody{
  display: grid;
  place-items: center;
  background-color: hsl(47, 88%, 63%);
  height: 800px;
  width: 1000px;
}

.blogPreviewContainer{
  display: inline-block;
  background-color: white;

  padding: 20px;
  border-radius: 20px;

  border: 1px solid black;
  box-shadow: 7px 7px 0px black;
}

.imgContainer{
  text-align: center;
}
.imgPreview{
  border-radius: 10px;
  width: 375px;
}

.textContainer{
  text-align: left;
}

.learningTagContainer{
  display: inline-block;
  margin-top: 15px;

  background-color: hsl(47, 88%, 63%);

  font-weight: 800;
  padding: 5px 12px 5px 12px;
  border-radius: 5px;
}

.publishedDateContainer{
  margin: 15px 0px;
}
.publishedDate{
  color: hsl(0, 0%, 7%);
}

.blogTitleContainer{
  margin: 20px 0px;
}
.blogTitle{
  font-size: 1.5rem;
  font-weight: 800;
}

.blogDescContainer{
  margin: 15px 0px;
  width: 350px;
}
.blogDesc{
  color: hsl(0, 0%, 42%);
  line-height: 1.5rem;
}

.userContainer{
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.userProfileImg{
  width: 35px;
}
.username{
  font-weight: 800;
}